.authPage {
  min-height: 100dvh;
  width: 100%;
  background-image: linear-gradient(115deg, rgba(255 255 250 / 0.5), transparent);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authTabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  max-width: 300px;
  width: 100%;

  button {
    min-width: 120px;
    text-align: center;

    &.active {
      font-weight: bold;
    }
  }
}

.authFormBox {
  margin: auto;
  width: 300px;
}

.authFormBox_login {
  width: 360px;
}

.authForm {
  gap: 18px;
  position: relative;
}

.authForm-row_controls {
  margin-top: 10px;
}

.authForm-input {
  display: block;
  width: 100%;
}

.authForm-loginButton {
  display: block;
  width: 100%;
}

.authFormMisc {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  margin-top: 30px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 1px;
    left: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.authFormMisc-button {
  display: inline-block;
  text-decoration: underline;

  &:hover {
    color: var(--link-text-color-1);
  }
}

.modal_resetPassword {
  width: 100%;
  max-width: 480px;
  min-height: 180px;

  .modal-content {
    align-content: center;
  }
}

.modal_signupSuccess {
  width: 100%;
  max-width: 480px;
  min-height: 180px;
  padding-top: 40px;

  .modal-content {
    align-content: center;
  }

  .modal-title {
    width: 100%;
    text-align: center;
  }
}

.resetPwdForm {
  gap: 18px;
  position: relative;
}

.resetPwdFormMisc {
  position: relative;
  display: flex;
  padding-top: 30px;
  margin-top: 36px;
  gap: 36px;
  align-items: center;
  justify-content: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 1px;
    left: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.resetPwdForm-buttonSend {
  width: 68%;
  margin: auto;
}

.resetPwdFormMisc-button {
  text-decoration: underline;

  &:hover {
    color: var(--link-text-color-1);
  }
}

.signupSuccess-loginButton {
  width: 68%;
  margin: auto;
  display: block;
}
