.folderName {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: #db8f42;
  cursor: pointer;
  background: transparent;
  display: inline;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}

.folderContent {
  padding-left: 23px;
}

.folderCreateNew {
  margin-left: 12px;
}

.folderDelete {
  margin-left: auto;
}