.key {
  &.isOpen {
    & > .keyHeader {
      margin-bottom: 2px;
    }
  }

  .key {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
  }
}

.keyHeader {
  background-color: #faf9fb;
  padding: 9px 20px 9px 30px;
  min-height: 48px;
  margin-bottom: 1px;
  position: relative;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.keyHeader-expandIcon {
  width: 12px;
  height: 11px;
  display: block;
  background: url("../../assets/images/icon--key-name-arrow.svg") right center no-repeat;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 9px;
  transition: transform 0.2s ease;

  &.expanded {
    transform: rotate(90deg);
  }
}

.keySelectCheckbox {
  display: none;
  align-self: center;
  margin-bottom: 2px;
  margin-right: 12px;
  border-color: #bdbdbd;
}

.keyName {
  font-family: inherit;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: var(--link-text-color-2);
  cursor: pointer;
  background: transparent;
  display: inline;
  border: none;
  padding: 0;
  margin: 4px 0 0 0;
  appearance: none;

  &:hover {
    text-decoration: underline;
  }
}

.keyHeader-controls {
  margin-top: 3px;
  margin-left: auto;
  align-self: flex-start;
  justify-self: flex-start;
  display: flex;
  gap: 12px;
}

.keyHeader-controlsGroup {
  display: flex;
  gap: 6px;
}

.keyHeader-control {
  display: block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  cursor: pointer;
  color: #faf9fb;

  &:hover {
    background-color: #cdcfd4;

    &:before {
      background-color: #fff;
    }
  }
}

.keyHeader-createKey {
  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #cdcfd4;
    mask: url("../../assets/images/icon--key-01.svg") right center no-repeat;
    margin: 0 auto 0 auto;
  }
}

.keyHeader-createFolder {
  &:before {
    content: '';
    display: block;
    width: 15px;
    height: 11px;
    background-color: #cdcfd4;
    mask: url("../../assets/images/icon--folder.svg") right center no-repeat;
    margin: 0 auto 0 auto;
  }
}

.keyHeader-edit {
  &:before {
    content: '';
    display: block;
    width: 11px;
    height: 12px;
    background-color: #cdcfd4;
    mask: url("../../assets/images/icon--pen.svg") right center no-repeat;
    margin: 0 auto 1px auto;
  }
}

.keyHeader-move {
  &:before {
    content: '';
    display: block;
    width: 13px;
    height: 15px;
    background-color: #cdcfd4;
    mask: url("../../assets/images/icon--move.svg") right center no-repeat;
    margin: 0 auto;
  }
}

.keyHeader-delete {
  &:before {
    content: '';
    display: block;
    width: 11px;
    height: 12px;
    background-color: #cdcfd4;
    mask: url("../../assets/images/icon--dumpster.svg") right center no-repeat;
    margin: 0 auto 1px auto;
  }
}

.keyContentWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.15s ease;
  overflow: hidden;

  &.expanded {
    grid-template-rows: 1fr;
  }
}

.keyContent {
  display: grid;
  grid-template-columns: 177px 1fr;
  gap: 1px;
  overflow: hidden;
}

.keyContent-lang {
  background-color: #faf9fb;
  text-align: right;
  padding: 11px 10px 9px 10px;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  cursor: pointer;

  &:hover {
    span {
      border-bottom: 1px dashed;
    }
  }
}

.keyContent-value {
  background-color: #ffffff;
}

.keyContent-valueName {
  display: block;
  padding: 11px 10px 9px 15px;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  height: 100%;
  color: #2944cc;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #f2fbff;
  }
}

.keyEdit {
  padding: 13px 16px 15px 16px;
  position: relative;
  transition: translate 0.2s ease;

  @starting-style {
    translate: -16px -13px;

    .keyEdit-controls {
      opacity: 0;
    }

    .keyEdit-valueField {
      border-color: transparent;
    }
  }
}

.keyEdit-valueFieldBox {
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  z-index: 1;
}

.keyEdit-valueField {
  width: 100%;
  font-size: 16px;
  color: #2944cc;
  resize: vertical;
  min-height: 110px;
  padding: 10px 13px 8px 13px;
  display: block;
  position: relative;
  z-index: 1;
  transition: border-color 0.2s ease;
}

.keyEdit-valueSymbolsCount {
  display: block;
  color: white;
  font-size: 12px;
  line-height: 15px;
  background-color: #5ca1e5;
  border-radius: 10px;
  padding: 3px 6px 1px 6px;
  position: absolute;
  right: 15px;
  bottom: -9px;
  z-index: 10;
  min-width: 27px;
  text-align: center;
}

.keyEdit-controls {
  display: flex;
  gap: 12px;
  transition: opacity 0.2s ease;
}

.keyEdit-saveButton {
  width: 71px;
}

.keyEdit-cancelButton {
  width: 71px;
}

.key_string {}

.key_folder {
  & > .keyHeader {
    .keyName {
      color: #db8f42;
    }
  }

  .key_string {
    .keyHeader {
      padding-left: 17px;
    }
  }

  & > .keyContentWrapper > .keyContent {
    display: block;
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      bottom: 0;
      width: 28px;
      background-color: #faf9fb;
    }
  }
}

.key_component {
  & > .keyHeader {
    .keyName {
      color: #666666;
    }
  }

  .key_string {
    .keyHeader {
      padding-left: 17px;
    }
  }

  & > .keyContentWrapper > .keyContent {
    display: block;
    padding-left: 30px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      bottom: 0;
      width: 28px;
      background-color: #faf9fb;
    }
  }
}

.keyFooter {
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.itemsList {
  padding-bottom: 66px;

  .itemsList {
    padding-bottom: 0;

    .keyFooter {
      position: static;
    }
  }
}
