.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-window {
  border-radius: 26px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.modal-loading {
  border-radius: 26px;
  inset: 5px;
  width: auto;
  height: auto;
  z-index: 100;
}

.modal_withBottomButtons {
  border-bottom-left-radius: 44px;
  border-bottom-right-radius: 44px;

  .modal-loading {
    border-radius: 26px;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 44px;
  }
}

.modal-header {
  display: flex;
  margin-bottom: 20px;
}

.modal-closeButton {
  display: block;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 18px;
  border-radius: 50%;
  background-color: transparent;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    width: 16px;
    background-color: #333333;
    scale: 1 2.04;
    border-radius: 1px;
  }

  &:before {
    rotate: 45deg;
  }

  &:after {
    rotate: -45deg;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &:focus-visible {
    outline: 1px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
  }

  &:active {
    transform: translateY(1px);
  }
}

.modal-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  margin: -3px 0 -6px 0;
}

.modal-content {
  margin-bottom: 36px;
}

.modal-buttonBox {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.modal-button {
  min-width: 71px;
}