.systemBarWrapper {
    position: fixed;
    top: 0;
    left: -50px;
    right: -50px;
    padding: 0 50px;
    z-index: 5000;
    box-shadow: 0 10px 20px 0 rgba(14, 30, 64, 0.2);
}

.systemBar {
    position: relative;
}

.systemMessage {
    padding: 24px;
    --main-background-color: #dfe5f2;
    background-color: var(--main-background-color);
    position: relative;
    color: #333333;

    &.info {
        --main-background-color: #aecff2;
    }

    &.attention {
        --main-background-color: #e6c565;
    }

    &.warning {
        --main-background-color: #edad72;
    }

    &.success {
        --main-background-color: #95d991;
    }

    &.error {
        --main-background-color: #f79999;
    }
}

.systemMessage-close {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 11px;
        height: 1px;
        scale: 1.026 1.41;
        background-color: #333;
    }

    &:before {
        rotate: -45deg;
    }
    &:after {
        rotate: 45deg;
    }

    &:hover {
        background-color: white;
    }
}
