.modal_addProjectLang {
  width: 600px;
}

.addProjectLang-cancelButton {
  min-width: 71px;
}

.addProjectLang-addButton {
  min-width: 71px;
  margin-left: 12px;
}

.addProjectLang-switchableControl {
  display: flex;
  align-items: center;
  gap: 8px;
}