.moveEntity {
    outline: 1px solid red;
}

.modal_moveEntities {
    min-width: 480px;
    max-width: 640px;

    .modal-button {
        padding-inline: 21px;
    }
}

.entitiesList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.entitiesList-item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    min-height: 44px;

    &:not(:last-child) {
        border-bottom: 1px solid #e5e5e5;
    }

    &:hover {
        .entitiesList-openButton {
            opacity: 1;
        }
    }
}

.entitiesList-itemControl {
    margin-right: 12px;
}

.entitiesList-openButton {
    height: 31px;
    margin-left: auto;
    background: #f4f3f6;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}
