.h1 {
  font-weight: normal;
  font-size: 36px;
  margin: 0;
}

.h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.h4 {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  color: var(--link-text-color-1);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.input {
  font: var(--main-font);
  line-height: 19px;
  height: 31px;
  border: 1px solid #5ca1e5;
  border-radius: 16px;
  padding: 5px 14px 2px 14px;
  outline: none;

  &:hover {
    border-color: #527acc;
  }

  &:focus {
    border-color: #295fcc;
  }

  &[disabled] {
    border-color: #b3b3b3;
    background-color: #f9f9f9;
    color: #b3b3b3;
  }
}

.textarea {
  font: var(--main-font);
  border: 1px solid #5ca1e5;
  border-radius: 15px;
  resize: vertical;
  min-height: 100px;
  padding: 14px;
  outline: none;

  &:hover {
    border-color: #527acc;
  }

  &:focus-visible {
    border-color: #295fcc;
  }
}

.select {
  font: var(--main-font);
  line-height: 19px;
  height: 31px;
  border: 1px solid #5ca1e5;
  border-radius: 16px;
  padding: 6px 34px 4px 14px;
  outline: none;
  appearance: none;
  background: var(--input-background-color) url("../images/icon--drop-down-arrow.svg") calc(100% - 12px) calc(50% + 1px) no-repeat;
  color: var(--main-text-color);

  &:hover {
    border-color: #527acc;
  }

  &:focus-visible {
    border-color: #295fcc;
  }
}

.checkbox {
  display: block;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  appearance: none;
  border-radius: 3px;
  border: 1px solid #5ca1e5;
  background-color: white;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    margin: 2px 0 2px 2px;
    width: 9px;
    height: 9px;
    background: url("../images/icon--checkbox-checkmark.svg") center left no-repeat;
    transition: opacity 0.15s ease;
    opacity: 0;
  }

  &:hover:not([disabled]) {
    border-color: #295fcc;
  }

  &:focus-visible {
    outline: 1px solid #5ca1e5;
    outline-offset: 1px;
  }

  &:checked {
    &:before {
      opacity: 1;
    }
  }

  &[disabled] {
    opacity: 0.7;
  }
}

.checkboxControl {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.checkboxControl-text {
  padding-top: 2px;
  margin-bottom: -2px;
  line-height: 1.3572;
}

.radio {
  display: block;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  appearance: none;
  border-radius: 50%;
  border: 1px solid #5ca1e5;
  background-color: white;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    margin: 3px;
    width: 7px;
    height: 7px;
    background-color: #295fcc;
    border-radius: 50%;
    transition: opacity 0.15s ease;
    opacity: 0;
  }

  &:hover {
    border-color: #295fcc;
  }

  &:focus-visible {
    outline: 1px solid #5ca1e5;
    outline-offset: 2px;
  }

  &:checked {
    &:before {
      opacity: 1;
    }
  }
}

.radioControl {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.radioControl-text {
  padding-top: 2px;
  margin-bottom: -2px;
  line-height: 1.3572;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 19px;
  border-radius: 65536px;
  padding: 6px 12px;
  background-clip: padding-box;
  text-align: center;

  &.primary {
    color: white;
    background-color: #388ff3;
    background-image: linear-gradient(0deg, rgb(47,91,233) 0%, rgb(60,143,242) 55%, rgb(73,195,251) 100%);
    box-shadow: 0 10px 20px 0 rgba(46, 124, 232, 0.5);

    &:hover {
      background-image: linear-gradient(0deg, rgb(33,76,219) 0%, rgb(46,123,230) 55%, rgb(58,170,240) 100%);
    }

    &:focus-visible {
      outline: 1px solid #527acc;
      outline-offset: 2px;
    }

    &:active:not([disabled]) {
      box-shadow: 0 5px 15px 0 rgba(46, 124, 232, 0.5);
      transform: translateY(1px);
    }

    &[disabled] {
      background-image: linear-gradient(0deg, rgb(130,158,242) 0%, rgb(146,219,253) 100%);
      color: rgba(255 255 255 / 0.5);
    }
  }

  &.secondary {
    color: #333333;
    border: 1px solid rgb(189, 189, 187);
    background-image: linear-gradient(0deg, rgb(198,197,196) 0%, rgb(223,223,222) 55%, rgb(248,248,248) 100%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 5px 11px;

    &:hover {
      border-color: rgb(189, 189, 187);
      background-image: linear-gradient(0deg, rgb(219,219,219) 0%, rgb(237,237,237) 55%, rgb(255,255,255) 100%);
    }

    &:focus-visible {
      outline: 1px solid #bebebe;
      outline-offset: 2px;
    }

    &:active:not([disabled]) {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
      transform: translateY(1px);
    }

    &[disabled] {
      border-color: #dbdbd9;
      background-image: linear-gradient(0deg, rgb(227,226,226) 0%, rgb(239,239,239) 55%, rgb(251,251,251) 100%);
      color: #808080;
      cursor: default;
    }
  }

  &.success {
    color: white;
    background-image: linear-gradient( 0deg, rgb(49,176,30) 0%, rgb(82,203,60) 55%, rgb(115,230,90) 100%);
    box-shadow: 0 10px 20px 0 rgba(50, 176, 30, 0.5);

    &:hover {
      background-image: linear-gradient(0deg, rgb(46,163,28) 0%, rgb(73,190,51) 55%, rgb(100,217,74) 100%);
    }

    &:focus-visible {
      outline: 1px solid #31b01e;
      outline-offset: 2px;
    }

    &:active:not([disabled]) {
      box-shadow: 0 5px 15px 0 rgba(50, 176, 30, 0.5);
      transform: translateY(1px);
    }

    &[disabled] {
      background-image: linear-gradient(0deg, rgb(89,216,79) 0%, rgb(105,229,94) 55%, rgb(121,242,109) 100%);
      color: rgba(255 255 255 / 0.5);
    }
  }

  &.danger {
    color: white;
    background-image: linear-gradient(0deg, rgb(150,18,28) 0%, rgb(196,28,39) 55%, rgb(241,38,49) 100%);
    box-shadow: 0 10px 20px 0 rgba(151, 18, 28, 0.5);

    &:hover {
      background-image: linear-gradient(0deg, rgb(138,10,20) 0%, rgb(183,18,28) 55%, rgb(227,25,35) 100%);
    }

    &:focus-visible {
      outline: 1px solid #31b01e;
      outline-offset: 2px;
    }

    &:active:not([disabled]) {
      box-shadow: 0 5px 15px 0 rgba(151, 18, 28, 0.5);
      transform: translateY(1px);
    }

    &[disabled] {
      background-image: linear-gradient(0deg, rgb(89,216,79) 0%, rgb(105,229,94) 55%, rgb(121,242,109) 100%);
      color: rgba(255 255 255 / 0.5);
    }
  }

  &.ghost {
    background-color: transparent;
    color: var(--link-text-color-1);

    &:hover {
      background-color: rgba(56, 143, 242, 0.15);
    }

    &:focus-visible {
      outline: 1px solid #99ccff;
      outline-offset: 2px;
    }

    &[disabled] {
      color: #a5a5a5;
    }
  }

  .buttonUploadInput {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 200px;
    cursor: pointer;
    opacity: 0;
  }

  &:has(.buttonUploadInput) {
    position: relative;
    overflow: hidden;
  }
}

.buttonInline {
  border: none;
  background: none;
  padding: 0;
  font: var(--main-font);
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.85) url("../images/spinner.svg") center center  / 48px 48px no-repeat;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
}

.formControl {
  width: 100%;

  &.hasError {
    .formControl-label {
      color: var(--color-error);
    }

    .formControl-input {
      border-color: var(--color-error);
    }
  }
}

.formControl-header {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.formControl-label {
  margin-left: 3px;
  line-height: 17px;
  display: flex;
  align-items: center;

  .formControl-infoIcon {
    margin-left: 5px;
  }
}

.formControl-infoIcon {
  display: block;
  width: 17px;
  height: 17px;
  background: #aaaeb2 url("../images/icon--info-mini.svg") center center no-repeat;
  border-radius: 50%;
  cursor: pointer;
  margin-left: auto;
  margin-right: 7px;

  &:hover {
    background-color: #c2c7cc;
  }
}

.formControl-body {}

.formControl-wrapper {
  width: 100%;
  position: relative;

  &:has(.formControl-input),
  &:has(.formControl-select) {
    border-radius: 65536px;
    background: #fff;
  }
}

.formControl-iconStart,
.formControl-iconEnd {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: 19px;
  height: 19px;
  margin: auto;
}

.formControl-iconStart {
  left: 12px;

  & ~ .formControl-input {
    padding-left: 38px;
    background-color: transparent;
  }
}

.formControl-iconEnd {
  right: 12px;

  & ~ .formControl-input {
    padding-right: 38px;
    background-color: transparent;
  }
}

.formControl-iconKey {
  background: url("../images/icon--key.svg") center center no-repeat;
}

.formControl-iconEye {
  background: url("../images/icon--eye-gray.svg") center center no-repeat;
  z-index: 20;
  cursor: pointer;
}

.formControl-input {
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
}

.formControl-select {
  display: block;
  width: 100%;
  position: relative;
  z-index: 10;
}

.formControl-textarea {
  display: block;
  width: 100%;
}

.formControl-footer {

}

.formControl-noteBox {
  margin-top: 4px;
  padding: 0 10px;
  display: flex;
}

.formControl-noteStart,
.formControl-noteEnd {
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}

.formControl-noteStart {}

.formControl-noteEnd {
  margin-left: auto;
}

.formControl-error {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-error);
  padding: 0 10px;
  display: flex;
  align-self: center;
  margin-top: 4px;

  &:before {
    content: '';
    display: block;
    width: 14px;
    height: 12px;
    background: url("../images/icon--error.svg") center center no-repeat;
    margin-right: 3px;
  }
}

.switcher {
  display: flex;
  padding: 0;
  margin: 0;
  width: 36px;
  flex: 0 0 36px;
  height: 19px;
  border-radius: 10px;
  background-color: #c2c7cc;
  appearance: none;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    margin: auto 3px;
    transition: all 0.2s ease-out;
  }

  &:hover {
    background-color: #b2c1d1;

    &:focus-visible {
      outline: 1px solid #b2c1d1;
    }
  }

  &:checked {
    background-color: #527acc;

    &:before {
      translate: 17px;
    }

    &:hover {
      background-color: #5c8ae5;
    }

    &:focus-visible {
      outline: 1px solid #527acc;
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid #c2c7cc;
    outline-offset: 2px;
  }

  &[disabled] {
    background-color: #e6e6e6;

    &:before {
      opacity: 0.8;
    }
  }
}

.dropdownPanel {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  padding: 22px;
  z-index: 100;
}

.grid {
  display: grid;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}

.col {
  flex: 1 0 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  flex: 0 0 auto;

  &.row {
    flex-direction: column;

    & > .row {
      flex: 1 1 100%;
    }
  }
}

.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}