:root {
  --link-text-color-1: #295fcc;
  --link-text-color-2: #5ca1e5;

  --main-font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;

  --main-font-size: 14px;
  --main-line-heignt: 1.4;
  --main-text-color: #333;

  --main-font: normal normal var(--main-font-size)/var(--main-line-heignt) var(--main-font-family);

  --main-background-color: #f4f3f6;
  --input-background-color: #fff;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;

  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--main-font-size);
  line-height: var(--main-line-heignt);
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: var(--link-text-color-1);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}